<div class="conteiner">
  <h5>{{character.name}}</h5>
  <div>
    <p>{{character.status}}</p>
    <p>{{character.gender}}</p>
  </div>
  <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" />
  <app-episodes [episodes]="character.episode"></app-episodes>
</div>
