.conteiner {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 150px;
  padding: 3px 10px;
  border: rgb(0, 0, 0) 5px dashed;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  overflow: hidden;
}

.conteiner div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.conteiner img {
  height: 100px;
  width: 100px;
}
