<div class="container">
  <div *ngIf="selection">
    <app-button
      (click)="onClear()"
      [color]="' black '"
      [label]="'DEL'"
    ></app-button>
  </div>

  <ul *ngFor="let episode of episodes">
    <li
      (click)="onCityClicked(episode)"
      [ngClass]="{'selected': episode === selection}"
    >
      <span>{{episode}}</span>
    </li>
  </ul>
</div>
