.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
}

.selected {
  background-color: rgba(54, 52, 52, 0.548);
  color: white;
  padding: 10px;
}

.unSelected {
  background-color: white;
  padding: 10px;
}
